section {
  width: 800px;
}
.p-palette {
  height: 62px;
  display: flex;
  background-image: url('/2DPaintDropsMini/images/background-palette.png');
  border: 1px solid black;
}
button {
  width: 100%;
  flex-grow: 1;
  border-width: 1px;
  background-color: transparent;
}
button:nth-of-type(n+1) {
  border-left: 1px solid black;
}
button img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
canvas {
  background-image: url('/2DPaintDropsMini/images/background-canvas.png');
}